/* Main */

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 2.5vw;
  position: sticky;
  top: 0;
  height: 8vh;
  margin-bottom: -8vh;
}

.items-container {
  display: flex;
  margin-left: 100px;
}

.items-container p {
  margin: 0 20px;
}

.extra-container {
  display: flex;
}

.extra-container p {
  margin: 0 12px;
}

/* Background Heading */
.background-heading-container {
  text-align: center;
  position: relative;
  top: 15vh;
}

.model-heading {
  font-size: 2.4rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.background-heading-container p {
  line-height: 1.5;
}

/* Model 3 */
.background-1 {
  height: 100vh;
  background: url("../../images/model-3.jpg") no-repeat center center/cover;
}

/* Model Y */
.background-2 {
  height: 100vh;
  background: url("../../images/model-y.jpg") no-repeat center center/cover;
}

/* Model S */
.background-3 {
  height: 100vh;
  background: url("../../images/model-s.jpg") no-repeat center center/cover;
}

/* Model X */
.background-4 {
  height: 100vh;
  background: url("../../images/model-x.jpg") no-repeat center center/cover;
}

/* Solar Panels */
.background-5 {
  height: 100vh;
  background: url("../../images/solarpanels.jpg") no-repeat center center/cover;
}

/* Solar Roof */
.background-6 {
  height: 100vh;
  background: url("../../images/roof.jpg") no-repeat center center/cover;
}

/* Powerwall */
.background-7 {
  height: 100vh;
  background: url("../../images/powerwall.jpg") no-repeat center center/cover;
}

/* Accessories */
.background-8 {
  height: 100vh;
  background: url("../../images/accessories.jpg") no-repeat center center/cover;
}
