/* Main */
.main {
  height: 200vh;
  border: 2px solid blue;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  padding: 14px 3vw;
  position: sticky;
  top: 0;
  height: 8vh;
  margin-bottom: -8vh;
}

.items-container {
  display: flex;
  margin-left: 70px;
}

.items-container p {
  margin: 0 20px;
}

.extra-container {
  display: flex;
}

.extra-container p {
  margin: 0 12px;
}

/* Model S */
.background-1 {
  height: 100vh;
  background: url("../../images/model-3.jpg") no-repeat center center/cover;
}

/* Model Y */
.background-2 {
  height: 100vh;
  background: url("../../images/model-y.jpg") no-repeat center center/cover;
}
